body {
  background-image: linear-gradient(to left ,rgb(0, 0, 0), rgba(2, 243, 46, 0.721), rgb(19, 19, 42));
  
  text-align: center;
}

h1 {
 color: rgb(254, 216, 0);
 font-weight: 900;
}

#message-el {

}
p {
  font-family: cursive;
  color: rgb(255, 255, 255);
}
button {
    
    height: 35px;
    width: 150px;
    color: green;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gold;
    border-radius: 5px;
    border: 2px;
    margin: 5px;
}
